NEXT_PUBLIC_SUPABASE_URL=https://fudaquharcninegzxggo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_E0wxm5SXYphXAUf0Z6-oCA_LI4J3Y1-
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_SECRET_KEY=your-secret-key
